@import url('https://fonts.googleapis.com/css2?&family=Poppins:wght@300;400;500;600;900');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root{
    --color: #012970;
}
html{
    scroll-behavior: smooth;
}
body{
    overflow: hidden;
    background-color: #f2f6f7;
}
.navbar{
    background-color: #fff;
    padding: 10px 30px;
    box-shadow: 0px 2px 8px 0px rgba(99, 99, 99, 0.2);
}
.navbar-brand{
    font-weight: 600;
    font-size: 24px;
    width: 18%;
    color: var(--color);
}
.navbar-brand:hover{
    color: var(--color);
}
.navbar-brand i{
    color: #007bff;
}
.actions{
    position: relative;
    width: 50%;
}
.actions .menu{
    font-size: 40px;
    cursor: pointer;
}
.actions .input{
    width: 50%;
}
.actions .input i{
    display: none;
}
.actions .search-icon{
    position: absolute;
    right: 45%;
    font-size: 20px;
    cursor: pointer;
}
.user{
    display: flex;
    align-items: center;
}
.user img{
    width: 40px;
    cursor: pointer;
    height: 40px;
}
.user span{
    position: relative;
}
.user span .badge-icon{
    position: absolute;
    top: -10px;
    right: 0;
    font-size: 10px;
    padding: 5px;
    color: #fff;
    border-radius: 6px;
}
.user span i{
    font-size: 30px;
    cursor: pointer;
}
.user .bxs-down-arrow{
    font-size: 13px;
}
.user h6{
    color: var(--color);
    cursor: pointer;
}
.messages{
    width: 400px;
    background-color: #fff;
    padding-top: 20px;
    position: absolute;
    top: 64px;
    right: 170px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    transition: all .4s ease;
    display: none;
}
.messages::before{
    position: absolute;
    content: '';
    top: -20px;
    z-index: 9;
    right: 25px;
    border-bottom: 50px solid #fff;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
}
.messages ul li{
    transition: all .4s ease;
}
.notice ul li{
    transition: all .4s ease;
}
.messages ul li:hover{
    background-color: #f2f6f7;
}
.messages ul li:first-child:hover{
    background-color: transparent;
}
.notice ul li:first-child:hover{
    background-color: transparent;
}
.notice ul li:hover{
    background-color: #f2f6f7;
}
.notice{
    width: 350px;
    background-color: #fff;
    padding-top: 20px;
    position: absolute;
    top: 64px;
    right: 215px;
    transition: all .4s ease;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    display: none;
}
.notice::before{
    position: absolute;
    content: '';
    top: -20px;
    z-index: 9;
    right: 20px;
    border-bottom: 50px solid #fff;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
}
.messages.show{
    display: flex;
    display: block;
}
.notice.show{
    display: flex;
    display: block;
}
.view-all{
    border-radius: 30px;
    cursor: pointer;
}
.profile{
    width: 300px;
    background-color: #fff;
    padding-top: 20px;
    position: absolute;
    top: 75px;
    right: 110px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    transition: all .4s ease;
    display: none;
}
.profile::before{
    position: absolute;
    content: '';
    top: -20px;
    z-index: 9;
    right: 20px;
    border-bottom: 50px solid #fff;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
}
.profile.show{
    display: flex;
    display: block;
}
.profile .user-info{
    display: flex;
    align-items: center;
    padding: 0 10px;
}
.profile .user-info h5{
    color: var(--color);
}
.profile ul{
    margin-top: 15px;
}
.profile ul li{
    padding-bottom: 5px;
    border: none;
    padding-top: 5px;
    transition: all .4s ease;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.profile ul li:hover{
    background-color: #f2f6f7;
}
.profile ul li span{
    font-size: 15px;
}
.profile ul li span i{
    font-size: 22px;
}
.sidebar{
    width: 20%;
    padding: 100px 0px;
    background-color: #fff;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    z-index: 99;
    transition: all .4s ease;
}
.sidebar::-webkit-scrollbar{
    width: 7px;
}
.sidebar::-webkit-scrollbar-track{
    background-color: #ddd;
}
.sidebar::-webkit-scrollbar-thumb{
    background-color: var(--color);
    border-radius: 6px;
    border-right: 2px solid #fff;
}
.sidebar .menu .list{
    font-size: 15px;
    list-style: none;
    width: 100%;
    padding: 10px 30px;
    cursor: pointer;
    transition: all .4s ease;
}
.sidebar .menu .list.active{
    background-color: #f2f6f7;
    color: #007bff;
}
.sidebar .menu .list:hover{
    background-color: #f2f6f7;
}
.sidebar .menu .list a{
    width: 100%;
    font-weight: 500;
    display: flex;
    align-items: center;
    color: var(--color);
}
.sidebar .menu .list .sub-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sidebar .list i{
    font-size: 20px;
}
.sidebar .menu .list.active a{
    color: #007bff;
}
.bx-chevron-down{
    font-weight: 400 !important;
    font-size: 20px;
}
.list .bx-chevron-down.show{
    transform: rotate(-180deg);
}
.sidebar .menu .list:hover a{
    color: #007bff;
}
.collapse ul li{
    /* background-color: red; */
    list-style:circle;
    cursor: pointer;
}
.submenu li:hover a{
    color: #007bff;
}
.submenu li a{
    color: var(--color);
    transition: all .4s ease;
}
h4{
    color: var(--color);
}
/* main  */
.main{
    height: 100vh;
    width: 80%;
    position: absolute;
    left: 20%;
    transition: all .4s ease;
}
.sidebar.active{
    width: 0%;
}
.main.active{
    left: 0%;
    width: 100%;
}
.tab-pane{
    padding-top: 100px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}
.info-pages h3{
    font-weight: 500;
    color: var(--color);
}
.info-pages p{
    font-weight: 500;
    color: var(--color);
    cursor: pointer;
}
.info-pages p span{
    color: #007bff;
}
.box{
    flex-wrap: wrap;
}
.cards{
    flex-basis: 24%;
    margin: 0.5%;
    padding: 30px 20px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0px 15px 15px rgba(0,0,0,0.1);
}
.cards .icon{
    height: 80px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.cards i{
    font-size: 40px;
    border-radius: 50%;
}
.cards h5{
    color: var(--color);
}
.cards .stud{
    color: #3cb878;
    background-color: #d1f3e0;
}
.cards .teach{
    color: #3f7afc;
    background-color: #e1f1ff;
}
.cards .earn{
    color: #ff0000;
    background-color: #ffeaea;
}
.cards .pare{
    color: #ffa001;
    background-color: #fff2d8;
}
.earnings{
    flex-basis: 60%;
    margin: 1.25%;
}
.expenses{
    flex-basis: 35%;
    margin: 1.25%;
}
.studen{
    flex-basis: 47.5%;
    margin: 1.25%;
}
.website-traf{
    flex-basis: 47.5%;
    margin: 1.25%;
}
.expenses ul .active{
    background-color: #012a7086 !important;
}
.expenses ul li{
    border: none;
    background-color: #f2f6f7;
}
small{
    font-weight: 500;
    color: var(--color);
}
select{
    outline: none;
    cursor: pointer;
}
.button .female{
    flex-basis: 50%;
    border-right: 2px solid rgba(0,0,0,0.2);
}
.button .line{
    height: 8px;
    width: 40%;
    background-color: #007bff;
    border-radius: 30px;
}
.button .male .line{
    width: 60%;
    background-color: #ffc107;
}
h5{
    color: var(--color);
}
table tr td{
    color: var(--color);
    font-weight: 500;
}
.icons .cards{
    flex-basis: 24%;
    margin: 0.5%;
    padding: 20px;
    border-radius: 6px;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0px 15px 15px rgba(0,0,0,0.1);
    transition: all .4s ease;
    cursor: pointer;
}
.icons{
    flex-wrap: wrap;
}
.icons h5, .icons h6{
    color: #fff;
}
.icons .cards i{
    color: #fff;
}
.icons .face{
    background-color: #2955b6;
}
.icons .face:hover{
    background-color: #3b5998;
}
.icons .instag{
    background:#82009f;
}
.icons .instag:hover{
    background: darkorange;
}
.icons .instag{
    background:#82009f;
}
.icons .instag:hover{
    background: darkorange;
}
.icons .twitt{
    background:#0996cd;
}
.icons .twitt:hover{
    background: #00acee;
}
.icons .linked{
    background:#007bff;
}
.icons .linked:hover{
    background: #0e76a8;
}
.icons .cards i{
    display: block;
}
.notification ul{
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
}
.notification ul::-webkit-scrollbar{
    width: 7px;
}
.notification ul::-webkit-scrollbar-thumb{
    background-color:#007bff;
    border-radius: 6px;
}
.notification ul::-webkit-scrollbar-track{
    background-color: #ddd;
}
.notification ul li{
    margin-top: 10px;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
.header-result{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.header-result input{
    flex-basis: 26%;
    outline: none;
    margin: 2% 0.5%;
}
.header-result button{
    flex-basis: 18%;
    margin: 2% 0.5%;
}
.status{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}
.form-desing label{
    font-weight: 500;
    color: var(--color);
}
.form-desing input, .form-desing select, .form-desing textarea{
    resize: none;
    width: 100%;
    border-radius: 5px;
    outline: none;
    border: 1px solid rgba(0,0,0,0.1);
    padding: 10px;
}
.form-desing button{
    font-weight: 500;
}
.form-desing .save{
    background-color: #007bff;
    transition: all .4s ease;
}
.form-desing .save:hover{
    background-color: var(--color);
}
.form-desing .reset{
    background-color: var(--color);
    transition: all .4s ease;
}
.form-desing .reset:hover{
    background-color: #007bff;
}
table th{
    font-weight: 600;
}
@media (max-width:1260px){
    .sidebar{
        width: 0%;
        position: absolute;
    }
    .sidebar.active{
        width: 25%;
    }
    .main{
        width: 100%;
        left: 0;
    }
}
@media (max-width:1024px){
    .sidebar.active{
        width: 30%;
    }
    .main .box .cards{
        flex-basis: 47.5%;
        margin: 1.25%;
        justify-content: space-between;
    }
    .main .icons .cards{
        flex-basis: 47.5%;
        margin: 1.25%;
    }
    .main .earnings, .main .expenses{
        flex-basis: 100%;
        margin: 2% 0;
    }
    .main .earnings img, .main .expenses img{
        width: 100%;
    }
}
@media (max-width:900px){
    .sidebar.active{
        width: 38%;
    }
    .navbar-brand{
        width: 4%;
        font-size: 30px;
    }
   .navbar-brand span{
        display: none;
   }
   .user{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 40%;
   }
    .actions .input{
        width: 90%;
    }
   .actions .form-control{
    width: 100% !important;
   }
   .actions .search-icon{
        right: 10px;
   }
   .header-result input{
        flex-basis: 47.5%;
        margin: 2% 1.25%;
   }
   .header-result button{
        flex-basis: 47.5%;
        margin: 2% 1.25%;
   }
}
@media (max-width:760px){
    .sidebar.active{
        width: 40%;
    }
    .actions .input{
        width: 100%;
    }
    .main .studen, .main .website-traf{
        flex-basis: 100%;
        margin: 2% 0;
    }
    .main .studen img{
        width: 100%;
    }
    .main .studen, .main .website-traf{
        flex-basis: 100%;
        margin: 2% 0;
    }
    .actions{
        width: 45%;
    }
    .user{
        width: 45%;
    }
   .actions .search-icon{
        right: 10px;
   }
}
@media (max-width:590px){
    .sidebar.active{
        width: 60%;
    }
    .navbar{
        align-items: center !important;
    }
    .actions .form-control{
        display: none;
    }
    .actions .input.active{
        position: fixed;
        padding: 20px;
        top: 80px;
        z-index: 99;
        width: 100%;
        left: 0;
        margin: 0;
        background-color: #fff;
        box-shadow: 0px 15px 15px rgba(0,0,0,0.1);
    }
    .actions .input.active .form-control{
        display: block;
    }
    .actions .input.active i{
        display: block;
        position: absolute;
        right: 25px;
        top: 28px;
        font-size: 20px;
    }
    .actions{
        width: 30%;
    }
    .actions .search-icon{
        font-size: 30px;
        right: 0;
    }
    .user{
        align-items: center;
        width: 60%;
        justify-content: center;
    }
    .header-result input{
        flex-basis: 100%;
        margin: 2% 0;
    }
    .header-result button{
        flex-basis: 100%;
        margin: 2% 0;
    }
}
@media (max-width:560px){
    .main .box .cards{
        flex-basis: 100%;
        margin: 1.25% 0;
    }
    .main .icons .cards{
        flex-basis: 100%;
        margin: 1.25% 0;
    }
    
}